<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>

<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>

<%- include('../inclueds/adminNavbar.ejs'); %>



<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">Add Product</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="shop section">
<div class="container">
<div class="row">
<div class="col-lg-3 mb-4">
<div class="account-sidebar">
<div class="sidebar-list">
    <a href="/admin/adminAllOrder"><i class="far fa-shopping-bag"></i> All Orders</a>
    <a href="/admin/user"><i class="far fa-shopping-bag"></i> All User</a>
    <a href="/admin/adminlist"><i class="far fa-shopping-bag"></i> All Admin</a>
    <a href="/admin/bannerList"><i class="far fa-shopping-bag"></i> All Banner</a>
    <a href="/admin/categoryList"><i class="far fa-shopping-bag"></i> All Category</a>
    <a href="/admin/coupon"><i class="far fa-shopping-bag"></i> All Coupon</a>
    <a href="/admin/adminlogout"><i class="far fa-lock"></i> Logout</a>
</div>
</div>
</div>
<div class="col-lg-9">
<div class="account-content bg-white pt-0">
<h4 class="account-content-title"><i class="far fa-layer-group"></i> Add Banner</h4>
<div class="edit-profile">
<form action="/admin/addbanner" method="post" enctype="multipart/form-data">
<div class="row">
<div class="col-lg-6">
<div class="mb-3">
<label for="name" class="form-label">Banner Heading</label>
 <input type="text" class="form-control"   required="required" name="Heading" id="name">
</div>
</div>
<div class="col-lg-6">
<div class="mb-3">
<label for="price" class="form-label">Offer</label>
<input type="text" class="form-control"   required="required" name="offer" id="price">
</div>
</div>

<div class="col-lg-6">
<div class="mb-3">
<label for="moreimage" class="form-label">Image</label>
<input type="file" id="moreimage" multiple name="bannerimage"   required="required" onchange="return fileValidation()">
</div>
</div>
</div>
<button class="btn" type="submit">Save Product</button>
 </form>
</div>
</div>
</div>
</div>
</div>
</section>


<%- include('../inclueds/footer.ejs'); %>


<%- include('../inclueds/end.ejs'); %>


<script>
   
    function fileValidation(){
     var fileInput = document.getElementById('moreimage');
     var filePath = fileInput.value;
     var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
     if(!allowedExtensions.exec(filePath)){
         // imageError
         document.getElementById('imageError').innerHTML = "Please upload file having extensions .jpeg/.jpg/.png/.gif only"
         fileInput.value = '';
         return false;
     }else{
         //Image preview
         if (fileInput.files && fileInput.files[0]) {
             var reader = new FileReader();
             reader.onload = function(e) {
                 document.getElementById('imageError').innerHTML = ""
                 document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
             };
             reader.readAsDataURL(fileInput.files[0]);
         }
     }
 }
 
 </script>


</body>
</html>