<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include('../inclueds/head.ejs'); %>

<body>

<section class="shop login section">
<div class="container">
<div class="row">
<div class="col-lg-5 mx-auto">
<div class="login-form">
<h2>Welcome To Smartshop Admin Page</h2>
<p>Login with email & password</p>

<form class="form" action="" id="adminloginSubmission">
<div class="row">
<div class="col-12">
<div class="form-group">
<label>Email<span>*</span></label>
<input type="email" name="Email" placeholder="example@gmail.com" required="required" value="shibi2772@gmail.com" id="email">
</div>
<p
class="text-danger"
id="emailErr"></p>
</div>
<div class="col-12">
<div class="form-group">
<label>Password<span>*</span></label>
<input type="password" name="Password" placeholder="********"  value="11111111" required="required" id="passWord">
</div>
<p
class="text-danger"
id="passwordErr"></p>
</div>
<div class="col-12">
<div class="form-group login-btn">
<button class="btn" type="submit">Login</button>
</div>
</div>
<div class="d-flex social-login pt-4">
<a class="btn g-btn" type="submit" href="/"></i>Home</a>
</form>

</div>
</div>
</div>
</div>
</section>

<%- include('../inclueds/end.ejs'); %>

</body>
</html>


<script>
    $("#adminloginSubmission").submit((e) => {
    e.preventDefault()
    console.log("gone");
    const validateEmail = (email) => {
    return String(email)
    .toLowerCase()
    .match(
    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    );
    };
    let userEmail = document.getElementById('email').value
    console.log(userEmail);
    let passWord = document.getElementById('passWord').value
    console.log(passWord);
    
    let flag = 0
    
    if (validateEmail(userEmail)) {
    document.getElementById('emailErr').innerHTML = ""
    //console.log("email is valid")
    flag++
    } else {
    //console.log('not valid')
    document.getElementById('emailErr').innerHTML = "Enter A valid Email Adress"
    flag = 0
    }
    if (passWord.length >= 8) {
    document.getElementById('passwordErr').innerHTML = ""
    //console.log("everything is ok")
    flag++
    } else {
    // console.log('password max length')
    document.getElementById('passwordErr').innerHTML = "Password Must be 8 carecters"
    flag = 0
    }
    if (flag == 2) {
        $.ajax({
            url: '/admin/adminlogin',
            method: 'post',
            data: $("#adminloginSubmission").serialize(),
            success: (response) => {
                console.log(response)
                if (response.status) {
                    location.href = '/admin'
                }else if(response.passworError){
                    document.getElementById('passwordErr').innerHTML = "Password Incorrect"
                }else if(response.emailError){
                    document.getElementById('emailErr').innerHTML = "Email Incorrect "
                }else if(response.accessError){
                    document.getElementById('passwordErr').innerHTML = "Not Access"
                }
            }
        })
    }
        })
    </script>
    