
<header class="header shop">

    
    <div class="middle-inner">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-12">
    
    <div class="logo">
    <a href="/admin/product"><img src="/img/logo.png" alt="logo"></a>
    </div>
    
    
    <div class="search-top">
    <div class="top-search"><a href="#0"><i class="far fa-search"></i></a></div>
    </div>
    <div class="mobile-nav"></div>
    </div>
    <div class="col-lg-7 col-md-6 col-12">

        <!-- search bar  -->

    </div>
    <div class="col-lg-2 col-md-3 col-12">
    <div class="right-bar">
    <div class="sinlge-bar shopping">
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="header-inner  shadow">
    <div class="container">
    <div class="cat-nav-head">
    <div class="row">
    <div class="col-lg-9 col-12">
    <div class="menu-area">
    
    <nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse">
    <div class="nav-inner">
    <ul class="nav main-menu menu navbar-nav">
    <li class="active">
        <a href="/admin" class="text-dark">Dashboard</a>
    </li>
    <li><a href="/admin/user">Users<i class="ti-angle-down"></i></a>
        <ul class="dropdown">
            <li><a href="/admin/user">Users List</a></li>
        </ul>
    </li>
    <li><a href="/admin/product">products<i class="ti-angle-down"></i></a>
    <ul class="dropdown">
       <li><a href="/admin/addProduct">Add Products</a></li>
       <li><a href="/admin/product">Products List</a></li>
       <li><a href="/admin/addcoupon">Add Coupon</a></li>
       <li><a href="/admin/coupon">Coupon List</a></li>
    </ul>
    </li>
    <li><a href="/admin/adminAllOrder">Orders<i class="ti-angle-down"></i></a>
    <ul class="dropdown">
    <li><a href="/admin/adminAllOrder">All Orders</a></li>
    </ul>
    </li>
    <li><a href="/admin/category">Categorys<i class="ti-angle-down"></i></a>
        <ul class="dropdown">
           <li><a href="/admin/Category">Add Category</a></li>
           <li><a href="/admin/categoryList">Category List</a></li>
       </ul>
     </li>
     <li><a href="/admin/banner">Banner<i class="ti-angle-down"></i></a>
        <ul class="dropdown">
           <li><a href="/admin/addbanner">Add Banner</a></li>
           <li><a href="/admin/bannerList">Banner List</a></li>
       </ul>
     </li>
     <li><a href="/admin/banner">Admin<i class="ti-angle-down"></i></a>
        <ul class="dropdown">
           <li><a href="/admin/adminlist">Admin List</a></li>
       </ul>
     </li>
    </ul>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </header>