
<header class="header shop">

    <div class="topbar">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-12 col-12">
    
    <div class="top-left">
    <ul class="list-main">
    <li><i class="ti-headphone-alt"></i> +070 (460) 532-654</li>
    <li><i class="ti-email"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="abd8dedbdbc4d9dfebced3cac6dbc7ce85c8c4c6">[email&#160;protected]</a></li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-6 col-md-12 col-12">
    
    <div class="right-content">
    <ul class="list-main">
    <li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
    <li><i class="ti-user"></i> <a href="#">My account</a></li>
    <li><i class="ti-power-off"></i><a href="/admin/adminlogonout">Logout</a></li>
    <li>
    <div class="dropdown top-dropdown">
    <a href="#" id="lang" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="ti-world"></i> EN <i class="fal fa-angle-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="lang">
    <a class="dropdown-item" href="#"><i class="ti-world"></i> EN</a>
    <a class="dropdown-item" href="#"><i class="ti-world"></i> RU</a>
    <a class="dropdown-item" href="#"><i class="ti-world"></i> GE</a>
    <a class="dropdown-item" href="#"><i class="ti-world"></i> HK</a>
    </div>
    </div>
    </li>
    <li>
    <div class="dropdown top-dropdown">
    <a href="#" id="payment" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fal fa-dollar-sign"></i> USD <i class="fal fa-angle-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="payment">
    <a class="dropdown-item" href="#"><i class="fal fa-dollar-sign"></i> USD</a>
    <a class="dropdown-item" href="#"><i class="fal fa-euro-sign"></i> EUR</a>
    </div>
    </div>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="middle-inner">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-12">
    
    <div class="logo">
    <a href="/admin/product"><img src="/img/logo.png" alt="logo"></a>
    </div>
    
    
    <div class="search-top">
    <div class="top-search"><a href="#0"><i class="far fa-search"></i></a></div>
    
    <div class="search-top">
    <form class="search-form">
    <input type="text" placeholder="Search here..." name="search">
    <button value="search" type="submit"><i class="far fa-search"></i></button>
    </form>
    </div> 
    </div>
    <div class="mobile-nav"></div>
    </div>
    <div class="col-lg-7 col-md-6 col-12">

        <!-- search bar  -->

    </div>
    <div class="col-lg-2 col-md-3 col-12">
    <div class="right-bar">
    <div class="sinlge-bar">
    <a href="#" class="single-icon"><i class="fal fa-heart" aria-hidden="true"></i></a>
    </div>
    <div class="sinlge-bar">
    <a href="#" class="single-icon"><i class="fal fa-user-circle" aria-hidden="true"></i></a>
    </div>
    <div class="sinlge-bar shopping">
    <a href="#" class="single-icon"><i class="fal fa-shopping-cart"></i> <span class="total-count">2</span></a>
    <div class="shopping-item">
    <div class="dropdown-cart-header">
    <span>2 Items</span>
    <a href="#">View Cart</a>
    </div>
    <ul class="shopping-list">
    <li>
    <a href="#" class="remove" title="Remove this item"><i class="fal fa-times-circle"></i></a>
    <a class="cart-img" href="#"><img src="/img/products/p22.png" alt="#"></a>
    <h4><a href="#">Xamaha R15 Blue</a></h4>
    <p class="quantity">1x - <span class="amount">$200.00</span></p>
    </li>
    <li>
    <a href="#" class="remove" title="Remove this item"><i class="fal fa-times-circle"></i></a>
    <a class="cart-img" href="#"><img src="/img/products/p3.png" alt="#"></a>
    <h4><a href="#">Apple Earphones</a></h4>
    <p class="quantity">1x - <span class="amount">$150.00</span></p>
    </li>
    </ul>
    <div class="bottom">
    <div class="total">
    <span>Total</span>
    <span class="total-amount">$350.00</span>
    </div>
    <a href="checkout.html" class="btn animate">Checkout</a>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="header-inner  shadow">
    <div class="container">
    <div class="cat-nav-head">
    <div class="row">
    <div class="col-lg-9 col-12">
    <div class="menu-area">
    
    <nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse">
    <div class="nav-inner">
    <ul class="nav main-menu menu navbar-nav">
    <li class="active">
        <a href="/admin" class="text-dark">Home</a>
    </li>
    <li><a href="/admin/user">Users<i class="ti-angle-down"></i></a>
        <ul class="dropdown">
            <li><a href="/admin/user">Users List</a></li>
        </ul>
    </li>
    <li><a href="/admin/product">products<i class="ti-angle-down"></i></a>
    <ul class="dropdown">
       <li><a href="/admin/addProduct">Add Products</a></li>
       <li><a href="/admin/product">Products List</a></li>
    </ul>
    </li>
    <li><a href="#">Orders<i class="ti-angle-down"></i></a>
    <ul class="dropdown">
    <li><a href="shop-grid.html">Shop Grid</a></li>
    <li><a href="shop-list.html">Shop List</a></li>
    </ul>
    </li>
    <li><a href="/admin/category">Categorys<i class="ti-angle-down"></i></a>
        <ul class="dropdown">
           <li><a href="/admin/Category">Add Category</a></li>
           <li><a href="/admin/categoryList">Category List</a></li>
       </ul>
     </li>
     <li><a href="/admin/banner">Banner<i class="ti-angle-down"></i></a>
        <ul class="dropdown">
           <li><a href="/admin/addbanner">Add Banner</a></li>
           <li><a href="/admin/bannerList">Banner List</a></li>
       </ul>
     </li>
    </ul>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </header>