



<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/jquery-3.6.0.min.js"></script>

<script src="/js/jquery-ui.min.js"></script>

<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/slicknav.min.js"></script>

<script src="/js/owl-carousel.js"></script>

<script src="/js/magnific-popup.js"></script>

<script src="/js/facnybox.min.js"></script>

<script src="/js/waypoints.min.js"></script>

<script src="/js/finalcountdown.min.js"></script>

<script src="/js/nicesellect.js"></script>

<script src="/js/ytplayer.min.js"></script>

<script src="/js/flex-slider.js"></script>

<script src="/js/scrollup.js"></script>

<script src="/js/onepage-nav.min.js"></script>

<script src="/js/easing.js"></script>

<script src="/js/main.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const addToCart  =(productId)=>{
    $.ajax({
     url:'/cart/'+productId,
     method: 'get',
     success:(response)=>{
       if(response.status){
        Swal.fire({
  position: 'top-center',
  icon: 'success',
  title: 'Your work has been saved',
  showConfirmButton: false,
  timer: 3000
     })
       }else if(response.notUser){  
        Swal.fire({
  title: 'Please Login',
  showCancelButton: true,
  confirmButtonText: 'Login',
  denyButtonText: `Don't Login`,
  }).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
    Swal.fire('Login', '', 'success')
    location.href = '/login'
  } else if (result.isDenied) {
    Swal.fire('Do not Login', '', 'info')
  }
  })
    }
     } 
    })
    }
  </script>

  

<script>
    const wishList  =(productId)=>{
      console.log('00000000');
    $.ajax({
     url:'/wishList/'+productId,
     method: 'get',
     success:(response)=>{
       if(response.status){
        Swal.fire({
  position: 'top-center',
  icon: 'success',
  title: 'Your work has been saved',
  showConfirmButton: false,
  timer: 3000
     })
       }else if(response.notUser){  
        Swal.fire({
  title: 'Please Login',
  showCancelButton: true,
  confirmButtonText: 'Login',
  denyButtonText: `Don't Login`,
  }).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
    Swal.fire('Login', '', 'success')
    location.href = '/login'
  } else if (result.isDenied) {
    Swal.fire('Do not Login', '', 'info')
  }
  })
    }else if(response.wishList){
      Swal.fire({
      position: 'top-center',
      icon: 'success ',
       title: 'All Ready WishList Product',
  showConfirmButton: false,
  timer: 3000
     })
    }
     } 
    })
    }
  </script>

  
<script>
  const Cartquantity=(cartId,Price)=>{
      $.ajax({
       url:'/Cartquantity/'+cartId,
       method: 'get',
       success:(response)=>{
           if(response.status){
            let conut = document.getElementById(cartId).value
              conut++
              document.getElementById(cartId).value =  conut
              let totalAmount = parseInt(document.getElementById(cartId+'totalAmount').value)  
              document.getElementById(cartId+'totalAmount').value = Price*conut
              let totalBillData=document.getElementById('totalBill').value 
                  console.log(totalBillData);
                  document.getElementById('totalBill').value =Number(totalBillData)+Number(Price)
           }
       }
      })
  }
  </script>
  
  <script>
      const lessCartquantity=(cartId,Price)=>{
          $.ajax({
           url:'/lessCartquantity/'+cartId,
           method: 'get',
           success:(response)=>{
               if(response.status){
                  let  conut = document.getElementById(cartId).value
                  if(conut>0){
                  conut--
                  document.getElementById(cartId).value =  conut
                  let totalAmount = document.getElementById(cartId+'totalAmount').value
                  document.getElementById(cartId+'totalAmount').value = totalAmount-Price
                  let totalBillData=document.getElementById('totalBill').value 
                  console.log(totalBillData);
                  document.getElementById('totalBill').value =totalBillData-Price
                  }
                 }else if(response.error){
                 console.log("hello");  
                }
           }
          })
      }
  </script>
  
  <script>
    var doc = new jsPDF();
    function printDiv(divId,
      title) {
      let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');
  
      mywindow.document.write(`<html><head><title>${title}</title>`);
      mywindow.document.write('</head><body >');
      mywindow.document.write(document.getElementById(divId).innerHTML);
      mywindow.document.write('</body></html>');
  
      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/
  
      mywindow.print();
      mywindow.close();
  
      return true;
    }
  </script>
