<footer class="footer">

    <div class="footer-top section">
    <div class="container">
    <div class="row">
    <div class="col-lg-5 col-md-6 col-12">
    
    <div class="single-footer about">
    <div class="logo">
    <a href="index.html"><img width="250" src="public/img/logo-white.png" alt="#"></a>
    </div>
    <p class="text">We are many variations of passages available but the majority have suffered alteration in some form by the andomised words which injected humour.</p>
    <p class="call">Have Any Question? Call Us 24/7<span><a href="tel:(+1)1234565555">(+1) 123 456 5555</a></span></p>
    <div class="footer-download">
    <a href="#">
    <img src="public/img/download/play-store.PNG" alt="">
    </a>
    <a href="#">
    <img src="public/img/download/app-store.PNG" alt="">
    </a>
    </div>
    </div>
    
    </div>
    <div class="col-lg-2 col-md-6 col-12">
    
    <div class="single-footer links">
    <h4>Information</h4>
    <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Terms & Conditions</a></li>
    <li><a href="#">Faq</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Our Stores</a></li>
    <li><a href="#">Our Cares</a></li>
    <li><a href="#">Help</a></li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-2 col-md-6 col-12">
    
    <div class="single-footer links">
    <h4>Customer Service</h4>
    <ul>
    <li><a href="#">Payment Methods</a></li>
    <li><a href="#">Money-back</a></li>
    <li><a href="#">Returns</a></li>
    <li><a href="#">Shipping</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Support Center</a></li>
    <li><a href="#">How to Buy</a></li>
    <li><a href="#">Track Your Order</a></li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-3 col-md-6 col-12">
    
    <div class="single-footer social">
    <h4>Get In Tuch</h4>
    
    <div class="contact">
    <ul>
    <li> <i class="fal fa-map-marker-alt"></i> 1503 Kovar Road, New York, USA</li>
    <li> <i class="fal fa-envelope"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="89fae8e5ecfac9ecf1e8e4f9e5eca7eae6e4">[email&#160;protected]</a></li>
    <li> <i class="fal fa-phone"></i> (+1) 123 456 5657</li>
    </ul>
    </div>
    
    <ul>
    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    
    <div class="copyright">
    <div class="container">
    <div class="inner">
    <div class="row">
    <div class="col-lg-6 col-12">
    <div class="left">
    <p>Copyright © 2021 <a href="#">SMARTSHOP</a> - All Rights Reserved.</p>
    </div>
    </div>
    <div class="col-lg-6 col-12">
    <div class="right payment">
    <i class="fab fa-cc-mastercard"></i>
    <i class="fab fa-cc-visa"></i>
    <i class="fab fa-cc-paypal"></i>
    <i class="fab fa-cc-amex"></i>
    <i class="fab fa-cc-discover"></i>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>