
<header class="header shop">

    <div class="topbar">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-12 col-12">
    
    <div class="top-left">
    <ul class="list-main">
    <li><i class="ti-headphone-alt"></i> +070 (460) 532-654</li>
    <li><i class="ti-email"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="abd8dedbdbc4d9dfebced3cac6dbc7ce85c8c4c6">[email&#160;protected]</a></li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-6 col-md-12 col-12">
    
    <div class="right-content">
    <ul class="list-main">
    <li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>

    <li><i class="ti-user"></i> 
    <% if (userEmail) { %>
        <a href="/profile">My account</a></li>
    <%} else { %>
            <a href="/login">My account</a></li>
    <% } %>
    
    <li><i class="ti-power-off"></i><a href="/login">Login</a></li>
    <li>
    <div class="dropdown top-dropdown">
    <a href="#" id="lang" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="ti-world"></i> EN <i class="fal fa-angle-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="lang">
    <a class="dropdown-item" href="#"><i class="ti-world"></i> EN</a>
    <a class="dropdown-item" href="#"><i class="ti-world"></i> RU</a>
    <a class="dropdown-item" href="#"><i class="ti-world"></i> GE</a>
    <a class="dropdown-item" href="#"><i class="ti-world"></i> HK</a>
    </div>
    </div>
    </li>
    <li>
    <div class="dropdown top-dropdown">
    <a href="#" id="payment" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fal fa-dollar-sign"></i> USD <i class="fal fa-angle-down"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="payment">
    <a class="dropdown-item" href="#"><i class="fal fa-dollar-sign"></i> USD</a>
    <a class="dropdown-item" href="#"><i class="fal fa-euro-sign"></i> EUR</a>
    </div>
    </div>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="middle-inner">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-12">
    
    <div class="logo">
    <a href="index.html"><img src="/img/logo.png" alt="logo"></a>
    </div>
    
    
    <div class="search-top">
    <div class="top-search"><a href="#0"><i class="far fa-search"></i></a></div>
    
    <div class="search-top">
    <form class="search-form">
    <input type="text" placeholder="Search here..." name="search">
    <button value="search" type="submit"><i class="far fa-search"></i></button>
    </form>
    </div>
    
    </div>
    
    <div class="mobile-nav"></div>
    </div>
    <div class="col-lg-7 col-md-6 col-12">
    <div class="search-bar-top">
    <div class="search-bar">
    <select>
    <option selected="selected">All Category</option>
    <option>Fashion</option>
    <option>Electronics</option>
    <option>Bikes</option>
    <option>Laptop</option>
    <option>Camera</option>
    <option>Health & Beauty</option>
    </select>
    <form>
    <input name="search" placeholder="Search Products Here....." type="search">
    <button class="btnn"><i class="far fa-search"></i></button>
    </form>
    </div>
    </div>
    </div>
    <div class="col-lg-2 col-md-3 col-12">
    <div class="right-bar">
    
    <div class="sinlge-bar">
    <a href="#" class="single-icon"><i class="fal fa-heart" aria-hidden="true"></i></a>
    </div>
    <div class="sinlge-bar">
    <a href="#" class="single-icon"><i class="fal fa-user-circle" aria-hidden="true"></i></a>
    </div>
    <div class="sinlge-bar shopping">
    <a href="#" class="single-icon"><i class="fal fa-shopping-cart"></i> <span class="total-count">2</span></a>
    
    <div class="shopping-item">
    <div class="dropdown-cart-header">
    <span>2 Items</span>
    <a href="#">View Cart</a>
    </div>
    <ul class="shopping-list">
    <li>
    <a href="#" class="remove" title="Remove this item"><i class="fal fa-times-circle"></i></a>
    <a class="cart-img" href="#"><img src="/img/products/p22.png" alt="#"></a>
    <h4><a href="#">Xamaha R15 Blue</a></h4>
    <p class="quantity">1x - <span class="amount">$200.00</span></p>
    </li>
    <li>
    <a href="#" class="remove" title="Remove this item"><i class="fal fa-times-circle"></i></a>
    <a class="cart-img" href="#"><img src="/img/products/p3.png" alt="#"></a>
    <h4><a href="#">Apple Earphones</a></h4>
    <p class="quantity">1x - <span class="amount">$150.00</span></p>
    </li>
    </ul>
    <div class="bottom">
    <div class="total">
    <span>Total</span>
    <span class="total-amount">$350.00</span>
    </div>
    <a href="checkout.html" class="btn animate">Checkout</a>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="header-inner  shadow">
    <div class="container">
    <div class="cat-nav-head">
    <div class="row">
    <div class="col-lg-3">
    <div class="all-category">
    <div class="d-flex">
    <i class="flaticon-menu cat-heading-icon"></i>
    <h3 class="cat-heading">CATEGORIES</h3>
    </div>
    <ul class="main-category hover-category">
    <li><a href="#"> <i class="flaticon-shopping-bag category-icon"></i> New Arrivals <i class="fal fa-angle-right" aria-hidden="true"></i></a>
    <ul class="sub-category">
    <li><a href="#"><i class="flaticon-dress category-icon"></i> Fashion</a></li>
    <li><a href="#"><i class="flaticon-bags category-icon"></i> Accessories</a></li>
    <li><a href="#"><i class="flaticon-laptop category-icon"></i> Electronics</a></li>
    <li><a href="#"><i class="flaticon-toys category-icon"></i> Baby Toys</a></li>
    <li><a href="#"><i class="flaticon-home category-icon"></i> Home & Garden</a></li>
    <li><a href="#"><i class="flaticon-gift-box category-icon"></i> Gifts</a></li>
    <li><a href="#"><i class="flaticon-beauty category-icon"></i> Health & Beauty</a></li>
    <li><a href="#"><i class="flaticon-music-notes category-icon"></i> Music</a></li>
    <li><a href="#"><i class="flaticon-groceries category-icon"></i> Groceries </a></li>
    </ul>
    </li>
    <li class="main-mega"><a href="#"><i class="flaticon-dress category-icon"></i> Fashion <i class="fal fa-angle-right" aria-hidden="true"></i></a>
    <ul class="mega-menu">
    <li class="single-menu">
    <a href="#" class="title-link">Shop Kid's</a>
    <div class="image">
    <img src="/img/mega-menu/3.jpg" alt="#">
    </div>
    <div class="inner-link">
    <a href="#">Kids Toys</a>
    <a href="#">Kids Color Shape</a>
    <a href="#">Kids Travel Car</a>
    <a href="#">Kids Tent</a>
    </div>
    </li>
    <li class="single-menu">
    <a href="#" class="title-link">Shop Men's</a>
    <div class="image">
    <img src="/img/mega-menu/1.jpg" alt="#">
    </div>
    <div class="inner-link">
    <a href="#">Watch</a>
    <a href="#">Hoodies</a>
    <a href="#">T-shirt</a>
    <a href="#">Formal Pant</a>
    </div>
    </li>
    <li class="single-menu">
    <a href="#" class="title-link">Shop Women's</a>
    <div class="image">
    <img src="/img/mega-menu/2.jpg" alt="#">
    </div>
    <div class="inner-link">
    <a href="#">Ladies Shirt</a>
    <a href="#">Ladies Sun Glass</a>
    <a href="#">Ladies Frog</a>
    <a href="#">Ladies Watch</a>
    </div>
    </li>
    </ul>
    </li>
    <li><a href="#"><i class="flaticon-bags category-icon"></i> Accessories</a></li>
    <li class="main-mega"><a href="#"><i class="flaticon-laptop category-icon"></i> Electronics <i class="fal fa-angle-right" aria-hidden="true"></i></a>
    <ul class="mega-menu">
    <li class="single-menu">
    <h6 class="text-dark">Man Cloths</h6>
    <div class="inner-link">
    <a href="#">Kids Toys</a>
    <a href="#">Kids Color Shape</a>
    <a href="#">Kids Travel Car</a>
    <a href="#">Kids Tent</a>
    </div>
    </li>
    <li class="single-menu">
    <h6 class="text-dark">Shoes</h6>
    <div class="inner-link">
    <a href="#">Watch</a>
    <a href="#">Hoodies</a>
    <a href="#">T-shirt</a>
    <a href="#">Formal Pant</a>
    </div>
    </li>
    <li class="single-menu">
    <h6 class="text-dark">Bags</h6>
    <div class="inner-link">
    <a href="#">Ladies Shirt</a>
    <a href="#">Ladies Sun Glass</a>
    <a href="#">Ladies Frog</a>
    <a href="#">Ladies Watch</a>
    </div>
    </li>
    <li class="single-menu mt-4">
    <h6 class="text-dark">Women Cloths</h6>
    <div class="inner-link">
    <a href="#">Ladies Shirt</a>
    <a href="#">Ladies Sun Glass</a>
    <a href="#">Ladies Frog</a>
    <a href="#">Ladies Watch</a>
    </div>
    </li>
    <li class="single-menu mt-4">
    <h6 class="text-dark">Shoes</h6>
    <div class="inner-link">
    <a href="#">Ladies Shirt</a>
    <a href="#">Ladies Sun Glass</a>
    <a href="#">Ladies Frog</a>
    <a href="#">Ladies Watch</a>
    </div>
    </li>
    <li class="single-menu mt-4">
    <h6 class="text-dark">Bags</h6>
    <div class="inner-link">
    <a href="#">Ladies Shirt</a>
    <a href="#">Ladies Sun Glass</a>
    <a href="#">Ladies Frog</a>
    <a href="#">Ladies Watch</a>
    </div>
    </li>
    </ul>
    </li>
    <li><a href="#"><i class="flaticon-toys category-icon"></i> Baby Toys</a></li>
    <li><a href="#"><i class="flaticon-home category-icon"></i> Home & Garden</a></li>
    <li><a href="#"><i class="flaticon-gift-box category-icon"></i> Gifts</a></li>
    <li><a href="#"><i class="flaticon-beauty category-icon"></i> Health & Beauty</a></li>
    <li><a href="#"><i class="flaticon-music-notes category-icon"></i> Music</a></li>
    <li><a href="#"><i class="flaticon-groceries category-icon"></i> Groceries </a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-9 col-12">
    <div class="menu-area">
    
    <nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse">
    <div class="nav-inner">
    <ul class="nav main-menu menu navbar-nav">
    <li class="active">
        <a href="#" class="text-dark">Home</a>
    </li>
    <li><a href="#">User Account<i class="ti-angle-down"></i></a>
    <ul class="dropdown">
    <li><a href="order-list.html">Order List</a></li>
    <li><a href="order-detail.html">Order Details</a></li>
    <li><a href="add-address.html">Add Address</a></li>
    <li><a href="address-list.html">Address List</a></li>
    <li><a href="profile.html">Profile</a></li>
    <li><a href="edit-profile.html">Edit Profile</a></li>
    <li><a href="support-ticket.html">Support Tickets</a></li>
    <li><a href="ticket-detail.html">Ticket Details</a></li>
    <li><a href="wishlist.html">Wishlist</a></li>
    <li><a href="track-order.html">Track Order</a></li>
    <li><a href="payment-method.html">Payment Methods</a></li>
    <li><a href="add-payment.html">Add Payment</a></li>
    </ul>
    </li>

    <li><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
    <ul class="dropdown">
    <li><a href="shop-grid.html">Shop Grid</a></li>
    <li><a href="shop-list.html">Shop List</a></li>
    <li><a href="shop-single.html">Shop Single</a></li>
    <li><a href="shop-search.html">Shop Search</a></li>
    <li><a href="cart.html">Cart</a></li>
    <li><a href="checkout.html">Checkout</a></li>
    <li><a href="compare.html">Shop Compare</a></li>
    </ul>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </header>