
<header class="header shop">

    <div class="topbar">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-12 col-12">
    
    <div class="top-left">
    <ul class="list-main">
    <li><i class="fal fa-shopping-cart"></i> <a href="/cartList" class="__cf_email__" data-cfemail="abd8dedbdbc4d9dfebced3cac6dbc7ce85c8c4c6">Cart List</a></li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-6 col-md-12 col-12">
    
    <div class="right-content">
    <ul class="list-main">
    <li><i class="fal fa-heart" aria-hidden="true"></i><a href="/wishListPage">WishList</a></li>

    <li><i class="ti-user"></i> 
    <% if (UserId) { %>
        <a href="/profile">My account</a></li>
    <%} else { %>
            <a href="/login">My account</a></li>
    <% } %>
    <% if (UserId) { %>
        <li><i class="ti-power-off"></i><a href="/logout">Logout</a></li>
    <%} else { %>
        <li><i class="ti-power-off"></i><a href="/login">Login</a></li>
    <% } %>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="middle-inner">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-12">
    
    <div class="logo">
    <a href="/"><img src="/img/logo.png" alt="logo"></a>
    </div>
    
    <div class="mobile-nav"></div>
    </div>

    <div class="col-lg-2 col-md-3 col-12 position-absolute top-10 end-0">
    <div class="right-bar">
    
    <div class="sinlge-bar">
    <a href="/wishListPage" class="single-icon"><i class="fal fa-heart" aria-hidden="true"></i></a>
    </div>
    <div class="sinlge-bar">
        <% if (UserId) { %>
            <a href="/Profile" class="single-icon"><i class="fal fa-user-circle" aria-hidden="true"></i></a>
        <%} else { %>
            <a href="/login" class="single-icon"><i class="fal fa-user-circle" aria-hidden="true"></i></a>
        <% } %>
    </div>
    <div class="sinlge-bar shopping">
        <% if (UserId) { %>
            <a href="/cartList" class="single-icon"><i class="fal fa-shopping-cart"></i> <span class="total-count"></span></a>
        <%} else { %>
            <a href="/login" class="single-icon"><i class="fal fa-shopping-cart"></i> <span class="total-count"></span></a>
        <% } %> 
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="header-inner  shadow">
    <div class="container">
    <div class="cat-nav-head">
    <div class="row">
    
    <div class="col-lg-9 col-12">
    <div class="menu-area">
    
    <nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse">
    <div class="nav-inner">
    <ul class="nav main-menu menu navbar-nav">
    <li class="active">
        <a href="/" class="text-dark">Home</a>
    </li>
    <li><a href="#">User Account<i class="ti-angle-down"></i></a>
    <ul class="dropdown">
    <li><a href="/orderlist">Order List</a></li>
    <li><a href="/addresslist">Address List</a></li>
    <li><a href="/wishListPage">Wishlist</a></li>
    </ul>
    </li>

    <li><a href="/shop">Shop<i class="ti-angle-down"></i><span class="new"></span></a>
    <ul class="dropdown">
    <li><a href="/shop">Shop</a></li>
    <li><a href="/cartList">cart</a></li>
    <li><a href="/wishListPage">Wishlist</a></li>
    </ul>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </header>