<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>
<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>



<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="/admin">Admin Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="/admin">404 Error</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="error-page">
<div class="table">
<div class="table-cell">
<div class="container">
<div class="row">
<div class="col-lg-6 offset-lg-3 col-12">

<div class="error-inner">
<h2>404</h2>
<h5>Oppose! Page Not Found.</h5>
<p>The page you are looking for does not exist. It might have been moved or removed.</p>
<div class="button">
<a href="/" class="btn">Go Back Home</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>

<%- include('../inclueds/footer.ejs'); %>

<%- include('../inclueds/end.ejs'); %>

</body>
</html>