<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>
<body>




<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">Mail Success</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="mail-success section page">
<div class="container">
<div class="row">
<div class="col-lg-6 offset-lg-3 col-12">
<div class="mail-inner">
<i class="fal fa-envelope-open-text"></i>
<h2><span>Order</span> Successfully</h2>
<p>Thank you so much for your Order.</p>
<div class="button">
<a class="btn primary" href="/">Go Home</a>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="shop-newsletter py-5">
<div class="container">
<div class="inner-top">
<div class="row">
<div class="col-lg-8 offset-lg-2 col-12">

<div class="inner">
<h4>Newsletter</h4>
<p> Subscribe to our newsletter and get <span>30%</span> off your first purchase</p>
<form action="#" method="get" class="newsletter-inner">
<input name="email" placeholder="Your email address" required="" type="email">
<button class="btn">Subscribe <i class="fal fa-paper-plane"></i></button>
</form>
</div>

</div>
</div>
</div>
</div>
</section>

<%- include('../inclueds/end.ejs'); %>
</body>
</html>