<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>
<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>

<%- include('../inclueds/navbar.ejs'); %>

<section class="shop-newsletter py-5">
<div class="container">
<div class="inner-top">
<div class="row">
<div class="col-lg-8 offset-lg-2 col-12">

<div class="inner">
<h4>O T P</h4>
<p> PLEACE ENTER OTP </p>
<form action="#" method="get" class="newsletter-inner">
<input name="number" placeholder="Your OTP" required="" type="email">
<button class="btn">Submit<i class="fal fa-paper-plane"></i></button>
</form>
</div>

</div>
</div>
</div>
</div>
</section>

<%- include('../inclueds/footer.ejs'); %>

<%- include('../inclueds/end.ejs'); %>

</body>
</html>