<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>
<body>




<section class="shop-newsletter py-5">
    <div class="logo  mb-5  d-flex aligns-items-center justify-content-center">
        <a href="/"><img src="/img/logo.png" alt="logo"></a>
    </div>
<div class="container pt-5">
<div class="inner-top">
<div class="row">
<div class="col-lg-8 offset-lg-2 col-12">
<div class="inner">
<h4>O T P</h4>
<p> PLEACE ENTER OTP </p>
<form action="/otp" method="post" class="newsletter-inner">
<input name="otp" placeholder="Your OTP" required="" type="number">
<button class="btn">Submit<i class="fal fa-paper-plane"></i></button>
</form>
</div>
</div>
</div>
</div>
</div>
</section>

<%- include('../inclueds/end.ejs'); %>

</body>
</html>