<!-- <!DOCTYPE html>
<html lang="en"> -->

<%- include('../inclueds/head.ejs'); %>

<body>

<% if (userError) { %>
<p><%=userError %></p>
<% } %>

<section class="shop login section">
<div class="container">
<div class="row">
<div class="col-lg-5 mx-auto">
<div class="login-form">
<h2>Create Your Account</h2>
<p>Please fill all forms to
continued</p>

<form action=""
id="signupSubmission"
class="form">
<div class="row">
<div class="col-12">
    <div
        class="form-group">
        <label>Name<span>*</span></label>
        <input
            type="text"
            name="Name"
            placeholder="Name
            Beard"
            required="required"
            id="name">
    </div>
    <p
        class="text-danger"
        id="NameErr"></p>
</div>
<div class="col-12">
    <div
        class="form-group">
        <label>Email<span>*</span></label>
        <input
            type="email"
            name="Email"
            placeholder="example@mail.com"
            required="required"
            id="email">
    </div>
    <p
        class="text-danger"
        id="emailErr"></p>
</div>
<div class="col-12">
    <div class="row">
        <div
            class="col-12">
            <div
                class="form-group">
                <label>Phone<span>*</span></label>
                <input
                    type="number"
                    name="Phone"
                    placeholder="Phone"
                    required="required"
                    id="phone">
                 </div>
               <p
                class="text-danger"
                id="phoneErr">
            </p>
        </div>
    </div>
</div>
<div class="col-12">
    <div
        class="form-group">
        <label>Password<span>*</span></label>
        <input
            type="password"
            name="Password"
            placeholder="********"
            required="required"
            id="passWord">
    </div>
    <p
        class="text-danger"
        id="passwordErr"></p>
</div>
<div class="col-12">
    <div
        class="form-group">
        <label>confirmPassword<span>*</span></label>
        <input
            type="password"
            name="confirmPassword"
            placeholder="********"
            required="required">
    </div>
</div>
<div class="col-12">
    <div
        class="form-group
        login-btn">
        <button
            class="btn"
            type="submit">Create
            Account</button>
    </div>
</div>
<p>Already have an
    account? <a
        href="/login">Login.</a></p>
</div>
<div class="d-flex social-login
">
<a class="btn g-btn"
        href="/"></i>Home</a>
</div>
</form>
</div>
</div>
</div>
</div>
</section>


<%- include('../inclueds/end.ejs'); %>

<script>
$("#signupSubmission").submit((e) => {
e.preventDefault()
console.log("gone");
let specialCheck = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/

let nameCheck = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/

const validateEmail = (email) => {
return String(email)
.toLowerCase()
.match(
/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
);
};

let firstName = document.getElementById('name').value
console.log(firstName);
let userMobile = document.getElementById('phone').value
console.log(userMobile);
let userEmail = document.getElementById('email').value
console.log(userEmail);
let passWord = document.getElementById('passWord').value
console.log(passWord);
let mobile = userMobile.toString()

let flag = 0

if (!nameCheck.test(firstName)) {
document.getElementById('NameErr').innerHTML = ""
flag++
}
else {
document.getElementById('NameErr').innerHTML = "Reject Special Carecterse&Numbers"
// console.log('fist name sp')
flag = 0
}
if (mobile.length == 10) {
document.getElementById('phoneErr').innerHTML = ""
flag++
} else {
//console.log('mobile wrong')
document.getElementById('phoneErr').innerHTML = "Maximum 10 carecters"
flag = 0
}
if (validateEmail(userEmail)) {
document.getElementById('emailErr').innerHTML = ""
//console.log("email is valid")
flag++
} else {
//console.log('not valid')
document.getElementById('emailErr').innerHTML = "Enter A valid Email Adress"
flag = 0
}
if (passWord.length >= 8) {
document.getElementById('passwordErr').innerHTML = ""
//console.log("everything is ok")
flag++
} else {
// console.log('password max length')
document.getElementById('passwordErr').innerHTML = "Password Must be 8 carecters"
flag = 0
}
if (flag == 4) {
    $.ajax({
        url: '/signup',
        method: 'post',
        data: $("#signupSubmission").serialize(),
        success: (response) => {
            console.log(response)
            if (response.status) {
                location.href = '/otp'
            }
             else if (response.emailExist) {
                document.getElementById('emailErr').innerHTML = "This Email Already Exist..!"
            }else if(response.confirmpasswordError){
                document.getElementById('passwordErr').innerHTML = "Inavliad ConfirmPassword"
            }
        }
    })
}
    })
</script>


</body>
</html>