<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Smartshop - eCommerce Bootstrap 5 HTML5 Template.</title>

<link rel="icon" type="image/png" href="/img/favicon.png">

<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">


<link rel="stylesheet" href="/css/bootstrap.min.css">

<link rel="stylesheet" href="/css/magnific-popup.min.css">

<link rel="stylesheet" href="/css/fontawesome.min.css">

<link rel="stylesheet" href="/css/jquery.fancybox.min.css">

<link rel="stylesheet" href="/css/jquery-ui.css">

<link rel="stylesheet" href="/css/jquery-ui.css">

<link rel="stylesheet" href="/css/themify-icons.css">

<link rel="stylesheet" href="/css/flaticon.css">

<link rel="stylesheet" href="/css/niceselect.css">

<link rel="stylesheet" href="/css/animate.css">

<link rel="stylesheet" href="/css/flex-slider.min.css">

<link rel="stylesheet" href="/css/owl-carousel.css">

<link rel="stylesheet" href="/css/slicknav.min.css">

<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>


<header class="header shop">

<div class="topbar">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-12 col-12">

<div class="top-left">
<ul class="list-main">
<li><i class="ti-headphone-alt"></i> +070 (460) 532-654</li>
<li><i class="ti-email"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="790a0c0909160b0d391c01181409151c571a1614">[email&#160;protected]</a></li>
</ul>
</div>

</div>
<div class="col-lg-6 col-md-12 col-12">

<div class="right-content">
<ul class="list-main">
<li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
<li><i class="ti-user"></i> <a href="#">My account</a></li>
<li><i class="ti-power-off"></i><a href="login.html">Login</a></li>
<li>
<div class="dropdown top-dropdown">
<a href="#" id="lang" data-bs-toggle="dropdown" aria-expanded="false">
<i class="ti-world"></i> EN <i class="fal fa-angle-down"></i>
</a>
<div class="dropdown-menu" aria-labelledby="lang">
<a class="dropdown-item" href="#"><i class="ti-world"></i> EN</a>
<a class="dropdown-item" href="#"><i class="ti-world"></i> RU</a>
<a class="dropdown-item" href="#"><i class="ti-world"></i> GE</a>
<a class="dropdown-item" href="#"><i class="ti-world"></i> HK</a>
</div>
</div>
</li>
<li>
<div class="dropdown top-dropdown">
<a href="#" id="payment" data-bs-toggle="dropdown" aria-expanded="false">
<i class="fal fa-dollar-sign"></i> USD <i class="fal fa-angle-down"></i>
</a>
<div class="dropdown-menu" aria-labelledby="payment">
<a class="dropdown-item" href="#"><i class="fal fa-dollar-sign"></i> USD</a>
<a class="dropdown-item" href="#"><i class="fal fa-euro-sign"></i> EUR</a>
</div>
</div>
</li>
</ul>
</div>

</div>
</div>
</div>
</div>

<div class="middle-inner">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-12">

<div class="logo">
<a href="index.html"><img src="/img/logo.png" alt="logo"></a>
</div>


<div class="search-top">
<div class="top-search"><a href="#0"><i class="far fa-search"></i></a></div>

<div class="search-top">
<form class="search-form">
<input type="text" placeholder="Search here..." name="search">
<button value="search" type="submit"><i class="far fa-search"></i></button>
</form>
</div>

</div>

<div class="mobile-nav"></div>
</div>
<div class="col-lg-7 col-md-6 col-12">
<div class="search-bar-top">
<div class="search-bar">
<select>
<option selected="selected">All Category</option>
<option>Fashion</option>
<option>Electronics</option>
<option>Bikes</option>
<option>Laptop</option>
<option>Camera</option>
<option>Health & Beauty</option>
</select>
<form>
<input name="search" placeholder="Search Products Here....." type="search">
<button class="btnn"><i class="far fa-search"></i></button>
</form>
</div>
</div>
</div>
<div class="col-lg-2 col-md-3 col-12">
<div class="right-bar">

<div class="sinlge-bar">
<a href="#" class="single-icon"><i class="fal fa-heart" aria-hidden="true"></i></a>
</div>
<div class="sinlge-bar">
<a href="#" class="single-icon"><i class="fal fa-user-circle" aria-hidden="true"></i></a>
</div>
<div class="sinlge-bar shopping">
<a href="#" class="single-icon"><i class="fal fa-shopping-cart"></i> <span class="total-count">2</span></a>

<div class="shopping-item">
<div class="dropdown-cart-header">
<span>2 Items</span>
<a href="#">View Cart</a>
</div>
<ul class="shopping-list">
<li>
<a href="#" class="remove" title="Remove this item"><i class="fal fa-times-circle"></i></a>
<a class="cart-img" href="#"><img src="/img/products/p22.png" alt="#"></a>
<h4><a href="#">Xamaha R15 Blue</a></h4>
<p class="quantity">1x - <span class="amount">$200.00</span></p>
</li>
<li>
<a href="#" class="remove" title="Remove this item"><i class="fal fa-times-circle"></i></a>
<a class="cart-img" href="#"><img src="/img/products/p3.png" alt="#"></a>
<h4><a href="#">Apple Earphones</a></h4>
<p class="quantity">1x - <span class="amount">$150.00</span></p>
</li>
</ul>
<div class="bottom">
<div class="total">
<span>Total</span>
<span class="total-amount">$350.00</span>
</div>
<a href="checkout.html" class="btn animate">Checkout</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>

<div class="header-inner  shadow">
<div class="container">
<div class="cat-nav-head">
<div class="row">
<div class="col-lg-3">
<div class="all-category">
<div class="d-flex">
<i class="flaticon-menu cat-heading-icon"></i>
<h3 class="cat-heading">CATEGORIES</h3>
</div>
<ul class="main-category hover-category">
<li><a href="#"> <i class="flaticon-shopping-bag category-icon"></i> New Arrivals <i class="fal fa-angle-right" aria-hidden="true"></i></a>
<ul class="sub-category">
<li><a href="#"><i class="flaticon-dress category-icon"></i> Fashion</a></li>
<li><a href="#"><i class="flaticon-bags category-icon"></i> Accessories</a></li>
<li><a href="#"><i class="flaticon-laptop category-icon"></i> Electronics</a></li>
<li><a href="#"><i class="flaticon-toys category-icon"></i> Baby Toys</a></li>
<li><a href="#"><i class="flaticon-home category-icon"></i> Home & Garden</a></li>
<li><a href="#"><i class="flaticon-gift-box category-icon"></i> Gifts</a></li>
<li><a href="#"><i class="flaticon-beauty category-icon"></i> Health & Beauty</a></li>
<li><a href="#"><i class="flaticon-music-notes category-icon"></i> Music</a></li>
<li><a href="#"><i class="flaticon-groceries category-icon"></i> Groceries </a></li>
</ul>
</li>
<li class="main-mega"><a href="#"><i class="flaticon-dress category-icon"></i> Fashion <i class="fal fa-angle-right" aria-hidden="true"></i></a>
<ul class="mega-menu">
<li class="single-menu">
<a href="#" class="title-link">Shop Kid's</a>
<div class="image">
<img src="/img/mega-menu/3.jpg" alt="#">
</div>
<div class="inner-link">
<a href="#">Kids Toys</a>
<a href="#">Kids Color Shape</a>
<a href="#">Kids Travel Car</a>
<a href="#">Kids Tent</a>
</div>
</li>
<li class="single-menu">
<a href="#" class="title-link">Shop Men's</a>
<div class="image">
<img src="/img/mega-menu/1.jpg" alt="#">
</div>
<div class="inner-link">
<a href="#">Watch</a>
<a href="#">Hoodies</a>
<a href="#">T-shirt</a>
<a href="#">Formal Pant</a>
</div>
</li>
<li class="single-menu">
<a href="#" class="title-link">Shop Women's</a>
<div class="image">
<img src="/img/mega-menu/2.jpg" alt="#">
</div>
<div class="inner-link">
<a href="#">Ladies Shirt</a>
<a href="#">Ladies Sun Glass</a>
<a href="#">Ladies Frog</a>
<a href="#">Ladies Watch</a>
</div>
</li>
</ul>
</li>
<li><a href="#"><i class="flaticon-bags category-icon"></i> Accessories</a></li>
<li class="main-mega"><a href="#"><i class="flaticon-laptop category-icon"></i> Electronics <i class="fal fa-angle-right" aria-hidden="true"></i></a>
<ul class="mega-menu">
<li class="single-menu">
<h6 class="text-dark">Man Cloths</h6>
<div class="inner-link">
<a href="#">Kids Toys</a>
<a href="#">Kids Color Shape</a>
<a href="#">Kids Travel Car</a>
<a href="#">Kids Tent</a>
</div>
</li>
<li class="single-menu">
<h6 class="text-dark">Shoes</h6>
<div class="inner-link">
<a href="#">Watch</a>
<a href="#">Hoodies</a>
<a href="#">T-shirt</a>
<a href="#">Formal Pant</a>
</div>
</li>
<li class="single-menu">
<h6 class="text-dark">Bags</h6>
<div class="inner-link">
<a href="#">Ladies Shirt</a>
<a href="#">Ladies Sun Glass</a>
<a href="#">Ladies Frog</a>
<a href="#">Ladies Watch</a>
</div>
</li>
<li class="single-menu mt-4">
<h6 class="text-dark">Women Cloths</h6>
<div class="inner-link">
<a href="#">Ladies Shirt</a> 
<a href="#">Ladies Sun Glass</a>
<a href="#">Ladies Frog</a>
<a href="#">Ladies Watch</a>
</div>
</li>
<li class="single-menu mt-4">
<h6 class="text-dark">Shoes</h6>
<div class="inner-link">
<a href="#">Ladies Shirt</a>
<a href="#">Ladies Sun Glass</a>
<a href="#">Ladies Frog</a>
<a href="#">Ladies Watch</a>
</div>
</li>
<li class="single-menu mt-4">
<h6 class="text-dark">Bags</h6>
<div class="inner-link">
<a href="#">Ladies Shirt</a>
<a href="#">Ladies Sun Glass</a>
<a href="#">Ladies Frog</a>
<a href="#">Ladies Watch</a>
</div>
</li>
</ul>
</li>
<li><a href="#"><i class="flaticon-toys category-icon"></i> Baby Toys</a></li>
<li><a href="#"><i class="flaticon-home category-icon"></i> Home & Garden</a></li>
<li><a href="#"><i class="flaticon-gift-box category-icon"></i> Gifts</a></li>
<li><a href="#"><i class="flaticon-beauty category-icon"></i> Health & Beauty</a></li>
<li><a href="#"><i class="flaticon-music-notes category-icon"></i> Music</a></li>
<li><a href="#"><i class="flaticon-groceries category-icon"></i> Groceries </a></li>
</ul>
</div>
</div>
<div class="col-lg-9 col-12">
<div class="menu-area">

<nav class="navbar navbar-expand-lg">
<div class="navbar-collapse">
<div class="nav-inner">
<ul class="nav main-menu menu navbar-nav">
<li class="active"><a href="#">Home<i class="ti-angle-down"></i></a>
<ul class="dropdown">
<li><a href="index.html">Home Demo One</a></li>
<li><a href="index2.html">Home Demo Two</a></li>
<li><a href="index3.html">Home Demo Three</a></li>
<li><a href="index4.html">Home Demo Four</a></li>
</ul>
</li>
<li><a href="#">User Account<i class="ti-angle-down"></i></a>
<ul class="dropdown">
<li><a href="order-list.html">Order List</a></li>
<li><a href="order-detail.html">Order Details</a></li>
<li><a href="add-address.html">Add Address</a></li>
<li><a href="address-list.html">Address List</a></li>
<li><a href="profile.html">Profile</a></li>
<li><a href="edit-profile.html">Edit Profile</a></li>
<li><a href="support-ticket.html">Support Tickets</a></li>
<li><a href="ticket-detail.html">Ticket Details</a></li>
<li><a href="wishlist.html">Wishlist</a></li>
<li><a href="track-order.html">Track Order</a></li>
<li><a href="payment-method.html">Payment Methods</a></li>
<li><a href="add-payment.html">Add Payment</a></li>
</ul>
</li>
<li><a href="#">Vendor<i class="ti-angle-down"></i></a>
<ul class="dropdown">
<li><a href="dashboard.html">Dashboard</a></li>
<li><a href="product.html">Products</a></li>
<li><a href="add-product.html">Add Product</a></li>
<li><a href="all-order.html">All Orders</a></li>
<li><a href="order-detail.html">Order Details</a></li>
<li><a href="all-vendor.html">All Vendors</a></li>
<li><a href="vendor-store.html">Vendor Store</a></li>
<li><a href="vendor-profile.html">Vendor Profile</a></li>
</ul>
</li>
<li><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
<ul class="dropdown">
<li><a href="shop-grid.html">Shop Grid</a></li>
<li><a href="shop-list.html">Shop List</a></li>
<li><a href="shop-single.html">Shop Single</a></li>
<li><a href="shop-search.html">Shop Search</a></li>
<li><a href="cart.html">Cart</a></li>
<li><a href="checkout.html">Checkout</a></li>
<li><a href="compare.html">Shop Compare</a></li>
</ul>
</li>
<li><a href="#">Pages<i class="ti-angle-down"></i></a>
<ul class="dropdown">
<li><a href="about-us.html">About Us</a></li>
<li><a href="team.html">Team</a></li>
<li><a href="login.html">Login</a></li>
<li><a href="register.html">Register</a></li>
<li><a href="forgot-password.html">Forgot Password</a></li>
<li><a href="faq.html">Faq</a></li>
<li><a href="term-condition.html">Terms & Conditions</a></li>
<li><a href="privacy-policy.html">Privacy Policy</a></li>
<li><a href="return-policy.html">Return Policy</a></li>
<li><a href="mail-success.html">Mail Success</a></li>
<li><a href="404.html">404</a></li>
</ul>
</li>
<li><a href="#">Blog<i class="ti-angle-down"></i></a>
<ul class="dropdown">
<li><a href="blog-grid.html">Blog Grid</a></li>
<li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
<li><a href="blog-single.html">Blog Single</a></li>
<li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
</ul>
</li>
<li><a href="contact.html">Contact Us</a></li>
</ul>
</div>
</div>
</nav>

</div>
</div>
</div>
</div>
</div>
</div>

</header>


<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">Shop Search</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="product-area shop-sidebar shop section">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4 col-12">
<div class="shop-sidebar">

<div class="single-widget category">
<h3 class="title">Categories</h3>
<ul class="categor-list">
<li><a href="#">Fashion <span>(50)</span></a></li>
<li><a href="#">Electronics <span>(15)</span></a></li>
<li><a href="#">Bikes <span>(25)</span></a></li>
<li><a href="#">Home & Garden <span>(100)</span></a></li>
<li><a href="#">Gifts <span>(90)</span></a></li>
<li><a href="#">Health & Beauty <span>(75)</span></a></li>
<li><a href="#">Accessories <span>(10)</span></a></li>
</ul>
</div>


<div class="single-widget range">
<h3 class="title">Shop by Price</h3>
<div class="price-filter">
<div class="price-filter-inner">
<div id="slider-range"></div>
<div class="price_slider_amount">
<div class="label-input d-flex">
<span>Range:</span><input type="text" id="amount" name="price" readonly placeholder="Add Your Price" />
</div>
</div>
</div>
</div>
</div>


<div class="single-widget">
<h3 class="title">Brands</h3>
<div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="brand1">
<label class="form-check-label" for="brand1">
Leotiba
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="brand2">
<label class="form-check-label" for="brand2">
Kasioli
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="brand3">
<label class="form-check-label" for="brand3">
Tiolami
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="brand4">
<label class="form-check-label" for="brand4">
Luasis
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="brand5">
<label class="form-check-label" for="brand5">
Tiambo
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="brand6">
<label class="form-check-label" for="brand6">
Jalibio
</label>
</div>
</div>
</div>


<div class="single-widget">
<h3 class="title">Sales</h3>
<div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="sale1">
<label class="form-check-label" for="sale1">
On Sale
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="sale2">
<label class="form-check-label" for="sale2">
In Stock
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="sale3">
<label class="form-check-label" for="sale3">
Featured
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="sale4">
<label class="form-check-label" for="sale4">
Trending
</label>
</div>
</div>
</div>


<div class="single-widget rating">
<h3 class="title">Ratings</h3>
<div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="rate1">
<label class="form-check-label" for="rate1">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="rate2">
<label class="form-check-label" for="rate2">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fal fa-star"></i>
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="rate3">
<label class="form-check-label" for="rate3">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fal fa-star"></i>
<i class="fal fa-star"></i>
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="rate4">
<label class="form-check-label" for="rate4">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fal fa-star"></i>
<i class="fal fa-star"></i>
<i class="fal fa-star"></i>
</label>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" id="rate5">
<label class="form-check-label" for="rate5">
<i class="fas fa-star"></i>
<i class="fal fa-star"></i>
<i class="fal fa-star"></i>
<i class="fal fa-star"></i>
<i class="fal fa-star"></i>
</label>
</div>
</div>
</div>


<div class="single-widget">
<h3 class="title">Colors</h3>
<div class="color">
<a href="#"></a>
<a href="#"></a>
<a href="#"></a>
<a href="#"></a>
<a href="#"></a>
</div>
</div>


<div class="single-widget">
<h3 class="title">Size</h3>
<div class="size">
<a href="#">XS</a>
<a href="#">SM</a>
<a href="#">MD</a>
<a href="#">LG</a>
<a href="#">XL</a>
</div>
</div>

</div>
</div>
<div class="col-lg-9 col-md-8 col-12">

<div class="shop-top">
<div class="row">
<div class="col-lg-4 filter-single my-lg-auto">
<div class="filter-content">
<div>
<b>Searching for "mobile phone"</b>
<div>20 results found!</div>
</div>
</div>
</div>
<div class="col-lg-2 filter-single my-lg-auto">
<div class="filter-content">
<div class="my-auto filter-title">Show :</div>
<select>
<option selected="selected">10</option>
<option>20</option>
<option>30</option>
<option>50</option>
<option>100</option>
</select>
</div>
</div>
<div class="col-lg-4 filter-single my-lg-auto">
<div class="filter-content">
<div class="my-auto filter-title">Sort By :</div>
<select>
<option selected="selected">Latest</option>
<option>Latest</option>
<option>Trending</option>
<option>Popular</option>
<option>Price Hight To Low</option>
<option>Price Low To High</option>
</select>
</div>
</div>
<div class="col-lg-2 filter-single my-lg-auto">
<ul class="view-mode">
<li class="active"><a href="shop-grid.html"><i class="fal fa-th-large"></i></a></li>
<li><a href="shop-list.html"><i class="fal fa-th-list"></i></a></li>
</ul>
</div>
</div>

</div>
<div class="row">
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
 <div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
 <button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
 <div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
 </div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
 <div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
 </div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="shop-single.html">
<img class="product-img" src="/img/products/p14.png" alt="#">
<span class="out-of-stock">Hot</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"><i class="far fa-eye"></i><span>Quick Shop</span></a>
<a href="#"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
<a href="#"><i class="far fa-exchange"></i><span>Add to Compare</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="shop-single.html">Wireless Charger</a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$60.00</span>
<span>$100.00</span>
</div>
<button class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>
</div>
<div class="col-12">

<div class="pagination center">
<ul class="pagination-list">
<li><a href="#"><i class="ti-arrow-left"></i></a></li>
<li><a href="#">1</a></li>
<li class="active"><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#"><i class="ti-arrow-right"></i></a></li>
</ul>
</div>

</div>
</div>
</div>
</div>
</section>


<section class="shop-newsletter py-5">
<div class="container">
<div class="inner-top">
<div class="row">
<div class="col-lg-8 offset-lg-2 col-12">

<div class="inner">
<h4>Newsletter</h4>
<p> Subscribe to our newsletter and get <span>30%</span> off your first purchase</p>
<form action="#" method="get" class="newsletter-inner">
<input name="email" placeholder="Your email address" required="" type="email">
<button class="btn">Subscribe <i class="fal fa-paper-plane"></i></button>
</form>
</div>

</div>
</div>
</div>
</div>
</section>


<footer class="footer">

<div class="footer-top section">
<div class="container">
<div class="row">
<div class="col-lg-5 col-md-6 col-12">

<div class="single-footer about">
<div class="logo">
<a href="index.html"><img width="250" src="/img/logo-white.png" alt="#"></a>
</div>
<p class="text">We are many variations of passages available but the majority have suffered alteration in some form by the andomised words which injected humour.</p>
<p class="call">Have Any Question? Call Us 24/7<span><a href="tel:(+1)1234565555">(+1) 123 456 5555</a></span></p>
<div class="footer-download">
<a href="#">
<img src="/img/download/play-store.PNG" alt="">
</a>
<a href="#">
<img src="/img/download/app-store.PNG" alt="">
</a>
</div>
</div>

</div>
<div class="col-lg-2 col-md-6 col-12">

<div class="single-footer links">
<h4>Information</h4>
<ul>
<li><a href="#">About Us</a></li>
<li><a href="#">Contact Us</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Faq</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Our Stores</a></li>
<li><a href="#">Our Cares</a></li>
<li><a href="#">Help</a></li>
</ul>
</div>

</div>
<div class="col-lg-2 col-md-6 col-12">

<div class="single-footer links">
<h4>Customer Service</h4>
<ul>
<li><a href="#">Payment Methods</a></li>
<li><a href="#">Money-back</a></li>
<li><a href="#">Returns</a></li>
<li><a href="#">Shipping</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Support Center</a></li>
<li><a href="#">How to Buy</a></li>
<li><a href="#">Track Your Order</a></li>
</ul>
</div>

</div>
<div class="col-lg-3 col-md-6 col-12">

<div class="single-footer social">
<h4>Get In Tuch</h4>

<div class="contact">
<ul>
<li> <i class="fal fa-map-marker-alt"></i> 1503 Kovar Road, New York, USA</li>
<li> <i class="fal fa-envelope"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4c3f2d20293f0c29342d213c2029622f2321">[email&#160;protected]</a></li>
<li> <i class="fal fa-phone"></i> (+1) 123 456 5657</li>
</ul>
</div>

<ul>
<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#"><i class="fab fa-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
<li><a href="#"><i class="fab fa-instagram"></i></a></li>
</ul>
</div>

</div>
</div>
</div>
</div>

<div class="copyright">
<div class="container">
 <div class="inner">
<div class="row">
<div class="col-lg-6 col-12">
<div class="left">
<p>Copyright © 2021 <a href="#">SMARTSHOP</a> - All Rights Reserved.</p>
</div>
</div>
<div class="col-lg-6 col-12">
<div class="right payment">
<i class="fab fa-cc-mastercard"></i>
<i class="fab fa-cc-visa"></i>
<i class="fab fa-cc-paypal"></i>
<i class="fab fa-cc-amex"></i>
<i class="fab fa-cc-discover"></i>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>


<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
<div class="modal-content">
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<div class="modal-body">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
<img src="/img/products/p1.png" alt="#">
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
<div class="quickview-content">
<h2>Xbeats Bluetooth Earphones</h2>
<div class="d-flex mb-3">
<span>Brand:</span>
<b>Xbeats</b>
</div>
<div class="d-flex mb-3">
<span>Category:</span>
<b>Headphones</b>
</div>
<div class="d-flex mb-3">
<span>Tated:</span>
<div class="quickview-ratting-review">
<div class="quickview-ratting-wrap">
<div class="quickview-ratting">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fal fa-star"></i>
<a href="#"> (50)</a>
</div>
</div>
</div>
</div>
<h3>$29.00</h3>
<div class="quickview-stock">
<span><i class="fa fa-check-circle-o"></i> Stock Available</span>
</div>
<div class="add-to-cart">
<a href="#" class="btn">Add to cart</a>
</div>
<div class="default-social">
<h4 class="share-now">Share:</h4>
<ul>
<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#"><i class="fab fa-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
<li><a href="#"><i class="fab fa-instagram"></i></a></li>
<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/jquery-3.6.0.min.js"></script>

<script src="/js/jquery-ui.min.js"></script>

<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/slicknav.min.js"></script>

<script src="/js/owl-carousel.js"></script>

<script src="/js/magnific-popup.js"></script>

<script src="/js/facnybox.min.js"></script>

<script src="/js/waypoints.min.js"></script>

<script src="/js/finalcountdown.min.js"></script>

<script src="/js/nicesellect.js"></script>

<script src="/js/ytplayer.min.js"></script>

<script src="/js/flex-slider.js"></script>

<script src="/js/scrollup.js"></script>

<script src="/js/onepage-nav.min.js"></script>

<script src="/js/easing.js"></script>

<script src="/js/main.js"></script>
</body>
</html>